<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-1014">
	<div class="cs-container">
		<div class="cs-left-section">
			<h2 class="cs-title">Get A Free Estimate Today!</h2>
			<a href="/contact" class="cs-button-solid">Request An Estimate</a>
		</div>
		<div class="cs-content">
			<span class="cs-header">Available Hours</span>
			<p class="cs-p">
				Monday-Friday: 8am-5pm<br />
				​(closed for lunch 1pm-1:30pm)
			</p>
			<p class="cs-p">Calls & Emails Preferred.</p>
		</div>
		<picture class="cs-background">
			<source
				media="(max-width: 600px)"
				srcset="/assets/images/brickwall-m.webp"
			/>
			<source
				media="(min-width: 601px)"
				srcset="/assets/images/brickwall.webp"
			/>
			<img
				aria-hidden="true"
				loading="lazy"
				decoding="async"
				src="/assets/images/brickwall.webp"
				alt="breakfast"
				width="275"
				height="132"
			/>
		</picture>
	</div>
</section>
