<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>

    <!-- Debugging Outputs -->
    <pre>cs-title: {{ cs-title | debug }}</pre>
    <pre>cs-text: {{ cs-text | debug }}</pre>
    <pre>buttonTxt: {{ buttonTxt | debug }}</pre>
    <pre>cs-number-1: {{ cs-number-1 | debug }}</pre>
    <pre>cs-desc-1: {{ cs-desc-1 | debug }}</pre>
    <pre>cs-pictureSM: {{ cs-pictureSM | debug }}</pre>

    <img src="{{ cs-pictureSM }}" alt="{{ cs-pictureALT }}">
</body>
</html>
