---
permalink: '/resources/{{ title | slug }}.html'
layout: base.njk
---



{% block head %}
    <link rel="stylesheet" href="/assets/css/cms-blog.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <picture>
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/CTA/meeting.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/CTA/meeting.jpg">
            <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/CTA/meeting.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">


            <article class="blog-article">
                <!--Main Article Image-->
                <picture class="blog-mainImage">
                    <img src="{{ image }}" alt="{{ imageAlt }}" width="795" height="400" decoding="async" />
                </picture>

                <!--Article Info-->
                <div class="article-group">
                    <h1 class="blog-h1">{{ title }}</h1>
                    <p>Year: {{ movie1.genre }}</p>
                    <div class="blog-authorGroup">
                        <span class="blog-author">{{ movie-details.movie1.director }}</span>
<p>Cast:     {% for actor in movie-details.movie1.cast %}
    - {{ actor }}
    {% endfor %}</p>

                    </div>
                </div>
                <section id="blog-content">
                    Movie Details:   {{ movie-details.movie1.synopsis }}
                    {{ content | safe }}
                </section>
            </article>
        </div>
        <!-- End .main-content -->

    
    </div>
{% endblock %}