---
permalink: '/resources/{{ title | slug }}/index.html'
layout: 'base.njk'
---

{% block head %}
<link rel="stylesheet" href="/assets/css/resources.css" />
{% endblock %} {% block body %}


<section id="hero-82">
	<div class="cs-container">
		<h1 class="cs-title">{{ headline }}</h1>
		<p class="cs-text">{{ description }}</p>
		<a href="/contact" class="cs-button-solid">Get a Free Estimate</a>
	</div>

	<!-- Background Image -->
	<picture class="cs-background">
		<source media="(max-width: 600px)" srcset="{{ mainImgSM }}" />
		<source media="(min-width: 601px)" srcset="{{ mainImgLG}}" />
		<img decoding="async" src="{{ mainImgSM }}" alt="{{mainImgAlt}}" width="2250" height="1500"
			aria-hidden="true" />
	</picture>
</section>



<section id="RPsbs-1459">
	<div class="cs-container">
		<!-- Left Image Section -->
		<div class="cs-image-group">
			<picture class="cs-picture cs-picture1">
				<source media="(max-width: 600px)" srcset="
						{{ featuredImage1.images[0]}}
					" />
				<source media="(min-width: 601px)" srcset="
						{{ featuredImage1.images[0]}}
					" />
				<img loading="lazy" decoding="async" src="{{ featuredImage1.images[0]}}" alt="featuredImage1"
					width="500" height="729" aria-hidden="true" />
			</picture>
			<picture class="cs-picture cs-picture2">
				<source media="(max-width: 600px)" srcset="
						{{ featuredImage1.images[1]}}
					" />
				<source media="(min-width: 601px)" srcset="
						{{ featuredImage1.images[1]}}
					" />
				<img loading="lazy" decoding="async" src="{{ featuredImage1.images[1]}}" alt="windmill" width="378"
					height="460" aria-hidden="true" />
			</picture>
		</div>
		<!-- Right Content Section-->
		<div class="cs-content">{{ featuredImage1.content | md | safe}}</div>
	</div>
	<picture class="cs-background">
		<!--Mobile Image-->
		<source media="(max-width: 600px)" srcset="{{specialImgSM}}" />
		<!--Tablet and above Image-->
		<source media="(min-width: 601px)" srcset="{{specialImgLG}}" />
		<img loading="lazy" decoding="async" src="{{specialImgSM}}" alt="{{specialImgALT}}" width="1280" height="568" />
	</picture>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-1459">
	<div class="cs-container">
		<!-- Left Image Section -->
		<div class="cs-image-group">
			<picture class="cs-picture cs-picture1">
				<source media="(max-width: 600px)" srcset="
						{{ featuredImage2.images[0] }}
					" />
				<source media="(min-width: 601px)" srcset="
						{{ featuredImage2.images[0] }}
					" />
				<img loading="lazy" decoding="async" src="{{ featuredImage2.images[0] }}" alt="featuredImage2"
					width="500" height="729" aria-hidden="true" />
			</picture>
			<picture class="cs-picture cs-picture2">
				<source media="(max-width: 600px)" srcset="
						{{ featuredImage2.images[1] }}
					" />
				<source media="(min-width: 601px)" srcset="
						{{ featuredImage2.images[1] }}
					" />
				<img loading="lazy" decoding="async" src="{{ featuredImage2.images[1] }}" alt="featuredImage2"
					width="378" height="460" aria-hidden="true" />
			</picture>
		</div>
		<!-- Right Content Section-->
		<div class="cs-content">{{ featuredImage2.content | md | safe}}</div>
	</div>
</section>



{% endblock %}