---
layout: base.njk
---

<!-- This will display a list of all the pages in the collections in your site -->
<div style="padding-top:15rem">
    
    <ul>
        {% for item in collections.all %}
          <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
        {% endfor %}
      </ul>
      
</div>