---
title: 'Resources'
layout: base.njk
description: ''
permalink: 'resources.html'
eleventyNavigation:
  key: 'Resources'
  order: '700'
preload:
  - '/assets/images/hero.webp'
---

{% block head %}
<link rel="stylesheet" href="/assets/css/services.css" />
{% endblock %}  {% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-82">
	<div class="cs-container">
		<h1 class="cs-title">Building Excellence with Bobcat Builders</h1>
		<p class="cs-text">Crafting Your Dream Spaces with Precision and Passion</p>
		<a href="/contact" class="cs-button-solid">Get a Free Estimate</a>
	</div>

	<!-- Background Image -->
	<picture class="cs-background">
		<source media="(max-width: 600px)" srcset="https://placehold.co/600x600" />
		<source media="(min-width: 601px)" srcset="https://placehold.co/800x600" />
		<img
			decoding="async"
			src="https://placehold.co/600x600"
			alt="kitchen"
			width="2250"
			height="1500"
			aria-hidden="true"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-43">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">Our Services</span>
			<h2 class="cs-title">How We Serve Our Customers</h2>
			<p class="cs-text">
				Dive into our gallery showcasing our care and craftmanship for services.
				Each project reflects our commitment to transforming houses into homes
			</p>
		</div>
		<div class="cs-image-group">
			<!-- Image 1 -->
			<a class="cs-item" href="/services/adu-building">
				<picture class="cs-picture">
					<source
						media="(max-width: 600px)"
						srcset="https://placehold.co/600x400"
					/>
					<source
						media="(min-width: 601px)"
						srcset="https://placehold.co/600x400"
					/>
					<img
						loading="lazy"
						decoding="async"
						src="https://placehold.co/600x400"
						alt="ADU Building"
						width="346"
						height="346"
					/>
				</picture>
				<!-- Hover Box -->
				<div class="cs-hover-box">
					<picture class="cs-icon">
						<img
							loading="lazy"
							decoding="async"
							src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg"
							alt="fancy house"
							width="20"
							height="20"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">ADU Building</h3>
					<p class="cs-hover-box-text">
						Compact Elegance Efficient design meets modern living in our
						Accessory Dwelling Units.
					</p>
				</div>
			</a>
			<!-- Image 2 -->
			<a class="cs-item" href="/services/additions">
				<picture class="cs-picture">
					<source
						media="(max-width: 600px)"
						srcset="https://placehold.co/600x400"
					/>
					<source
						media="(min-width: 601px)"
						srcset="https://placehold.co/600x400"
					/>
					<img
						loading="lazy"
						decoding="async"
						src="https://placehold.co/600x400"
						alt="New Additions House"
						width="346"
						height="346"
					/>
				</picture>
				<!-- Hover Box -->
				<div class="cs-hover-box">
					<picture class="cs-icon">
						<img
							loading="lazy"
							decoding="async"
							src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg"
							alt="fancy house"
							width="20"
							height="20"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Additions</h3>
					<p class="cs-hover-box-text">
						Seamless Extensions Expand your horizons with structures that blend
						flawlessly with your existing space.
					</p>
				</div>
			</a>
			<!-- Image 3 -->
			<a class="cs-item" href="/services/new-building">
				<picture class="cs-picture">
					<source
						media="(max-width: 600px)"
						srcset="https://placehold.co/600x400"
					/>
					<source
						media="(min-width: 601px)"
						srcset="https://placehold.co/600x400"
					/>
					<img
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://placehold.co/600x400"
						alt="New Building"
						width="346"
						height="346"
					/>
				</picture>
				<!-- Hover Box -->
				<div class="cs-hover-box">
					<picture class="cs-icon">
						<img
							loading="lazy"
							decoding="async"
							src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg"
							alt="fancy house"
							width="20"
							height="20"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">New Building</h3>
					<p class="cs-hover-box-text">
						Foundations of the Future From the ground up, we erect landmarks
						that stand the test of time.
					</p>
				</div>
			</a>
			<!-- Image 4 -->
			<a class="cs-item" href="/services/remodels">
				<picture class="cs-picture">
					<source
						media="(max-width: 600px)"
						srcset="https://placehold.co/600x400"
					/>
					<source
						media="(min-width: 601px)"
						srcset="https://placehold.co/600x400"
					/>
					<img
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://placehold.co/600x400"
						alt="Kitchen Remodels"
						width="346"
						height="346"
					/>
				</picture>
				<!-- Hover Box -->
				<div class="cs-hover-box">
					<picture class="cs-icon">
						<img
							loading="lazy"
							decoding="async"
							src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg"
							alt="fancy house"
							width="20"
							height="20"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Kitchen &amp; Bathroom Remodels</h3>
					<p class="cs-hover-box-text">
						Revitalize &amp; Refresh Transform the most used spaces into your
						personal havens of luxury.
					</p>
				</div>
			</a>
			<!-- Image 5 -->
			<a class="cs-item" href="/services/cement-and-paving">
				<picture class="cs-picture">
					<source
						media="(max-width: 600px)"
						srcset="https://placehold.co/600x400"
					/>
					<source
						media="(min-width: 601px)"
						srcset="https://placehold.co/600x400"
					/>
					<img
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://placehold.co/600x400"
						alt="Cement & Paving"
						width="346"
						height="346"
					/>
				</picture>
				<!-- Hover Box -->
				<div class="cs-hover-box">
					<picture class="cs-icon">
						<img
							loading="lazy"
							decoding="async"
							src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg"
							alt="fancy house"
							width="20"
							height="20"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Cement &amp; Paving</h3>
					<p class="cs-hover-box-text">
						Grounded in Quality Lay the groundwork for a lasting impression with
						our superior paving solutions.
					</p>
				</div>
			</a>
			<!-- Image 6 -->
			<a class="cs-item" href="/interior-exterior-renovations">
				<picture class="cs-picture">
					<source
						media="(max-width: 600px)"
						srcset="https://placehold.co/600x400"
					/>
					<source
						media="(min-width: 601px)"
						srcset="https://placehold.co/600x400"
					/>
					<img
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://placehold.co/600x400"
						alt="Interior & Exterior Remodels"
						width="346"
						height="346"
					/>
				</picture>
				<!-- Hover Box -->
				<div class="cs-hover-box">
					<picture class="cs-icon">
						<img
							loading="lazy"
							decoding="async"
							src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg"
							alt="fancy house"
							width="20"
							height="20"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Interior &amp; Exterior Renovations</h3>
					<p class="cs-hover-box-text">
						Reinvent &amp; Rejuvenate Elevate your property with renovations that
						resonate with style and substance.
					</p>
				</div>
			</a>
		</div>
	</div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-1459">
	<div class="cs-container">
		<!-- Left Image Section -->
		<div class="cs-image-group">
			<picture class="cs-picture cs-picture1">
				<source
					media="(max-width: 600px)"
					srcset="https://placehold.co/600x400"
				/>
				<source
					media="(min-width: 601px)"
					srcset="https://placehold.co/600x400"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://placehold.co/600x400"
					alt="ADU Building"
					width="500"
					height="729"
					aria-hidden="true"
				/>
			</picture>
			<!-- <picture class="cs-picture cs-picture2">
				<source
					media="(max-width: 600px)"
					srcset="https://placehold.co/600x400"
				/>
				<source
					media="(min-width: 601px)"
					srcset="https://placehold.co/600x400"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://placehold.co/600x400"
					alt="ADU Building"
					width="378"
					height="460"
					aria-hidden="true"
				/>
			</picture> -->
		</div>
		<!-- Right Content Section-->
		<div class="cs-content">
			<span class="cs-topper">ADU Building</span>
			<h2 class="cs-title">Maximize Your Property's Potential</h2>
			<p class="cs-text">
				Unlock the full potential of your property with our bespoke ADU
				solutions, designed to provide comfort, convenience, and value.
			</p>
			<ul class="cs-ul">
				<li class="cs-li">Customized designs to fit your lifestyle</li>
				<li class="cs-li">Optimized space utilization</li>
				<li class="cs-li">High-quality materials for durability</li>
				<li class="cs-li">Compliance with local zoning laws</li>
				<li class="cs-li">Energy-efficient features for sustainability</li>
			</ul>
			<a href="/services/adu-building" class="cs-button-solid">Learn More</a>
		</div>
	</div>
	<picture class="cs-background">
		<!--Mobile Image-->
		<source media="(max-width: 600px)" srcset="https://placehold.co/600x400" />
		<!--Tablet and above Image-->
		<source media="(min-width: 601px)" srcset="https://placehold.co/800x400" />
		<img
			loading="lazy"
			decoding="async"
			src="https://placehold.co/600x400"
			alt="bobcat"
			width="1280"
			height="568"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-1459">
	<div class="cs-container">
		<!-- Left Image Section -->
		<div class="cs-image-group">
			<picture class="cs-picture cs-picture1">
				<source
					media="(max-width: 600px)"
					srcset="https://placehold.co/600x400"
				/>
				<source
					media="(min-width: 601px)"
					srcset="https://placehold.co/600x400"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://placehold.co/600x400"
					alt="Interior Remodel"
					width="500"
					height="729"
					aria-hidden="true"
				/>
			</picture>
			<!-- <picture class="cs-picture cs-picture2">
				<source
					media="(max-width: 600px)"
					srcset="https://placehold.co/600x400"
				/>
				<source
					media="(min-width: 601px)"
					srcset="https://placehold.co/600x400"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://placehold.co/600x400"
					alt="Exterior Remodels"
					width="378"
					height="460"
					aria-hidden="true"
				/>
			</picture> -->
		</div>
		<!-- Right Content Section-->
		<div class="cs-content">
			<span class="cs-topper">Interior &amp; Exterior Remodels</span>
			<h2 class="cs-title">Reinventing Spaces with Bobcat Builders</h2>
			<p class="cs-text">
				Experience the art of transformation as we remodel your spaces to
				reflect your evolving tastes and needs.
			</p>
			<ul class="cs-ul">
				<li class="cs-li">
					Tailored designs for kitchen and bathroom upgrades
				</li>
				<li class="cs-li">Selection of premium fixtures and finishes</li>
				<li class="cs-li">Smart storage solutions for clutter-free living</li>
				<li class="cs-li">Seamless integration of new and existing elements</li>
				<li class="cs-li">Focus on enhancing functionality and aesthetics</li>
			</ul>
			<a href="/services/remodels" class="cs-button-solid">Learn More</a>
		</div>
	</div>
</section>

{% include "components/cta.njk" %} {% endblock %}
